{% extends "base.html" %}
{% block content %}
<style>
h1{
 padding-left:4.5em;
}

</style>
<div class="container-fluid">
  <div class="row-fluid">
	<h1>Shop From your Choices of Stores </h1>
	<div class="span1"></div>
	<div class="span10" id="content">
		<div class="row-fluid">
			<div class="span3">
				 <!-- block -->
                  
                       <iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-139802094974385836" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
			
		</div>
		<span>
			<div>
				<iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-139805517983064399" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
			</div>
		</span>
	</div>
  </div>

</div>

{% endblock %}
