{% extends "base.html" %}


{% block content %}

<div class="row">
        <div class="col-md-10">
	<a href="/flipkart/">
		<img class="img-circle" data-src="holder.js/140x140" src="{{ STATIC_URL }}sponsers/Flipkart.jpg" href="www.flipkart.com" /></a>
	</div>
        <div class="col-md-4">
		<img src="{{ STATIC_URL }}sponsers/infibeam.jpg" href="www.infibeam.com"/>

	</div>
        <div class="col-md-4">
		<img src="{{ STATIC_URL }}sponsers/tradus.jpg" href="www.tradus.com"/>
	</div>
</div>

 




{% endblock %}





 
