{% extends "base.html" %}
{% block content %}
<style>
h1{
 padding-left:4.5em;
}

</style>
<div class="container-fluid">
  <div class="row-fluid">
	<div class="span1"></div>
	<div class="span10" id="content">
		<div class="row-fluid">
			<div class="span3">
				 <!-- block -->
                  
			<span class="span4">
			<a href="http://www.snapdeal.com/product/muscletech-100-mass-gainer-12/1412336?utm_source=aff_prog&utm_campaign=afts&offer_id=16&aff_id=14289">
			<img src="http://n3.sdlcdn.com/imgs/a/i/q/Muscletech-100-Mass-Gainer-5-SDL265656804-1-c8368.jpg"/>
			
			</a>
			</span>

			
		</div>
		<span>
			<div class="span3">
				<iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-139805517983064399" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
			</div>
		</span>
		
		<div class="span3">
			<iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-139805862580330585' frameborder=0 height=250 width=300></iframe>
		</div>
		
	
	<span>
	<div clas="span3">
		<iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-139806888802427909" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
	</div>
	
	
		<div class="span3">
			<iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-139805959907386056" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
		</div>
	
  </div>
</span>
</div>
<div class="row-fluid">
	<div class="col-lg-12">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-139808241229377790" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
			</div>
		</div>
	</div>
	
	
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-139808362096360704" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
			</div>
		</div>
	</div>
	
	
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-139808378967257284" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
			</div>
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
			<img href="http://www.snapdeal.com?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=4930&affid=rajeshmee" src="http://jasper.go2cloud.org/aff_i?offer_id=17&aff_id=4930&affid=rajeshmee" width="1" height="1" />
			<script type="text/javascript" language="javascript"> var aax_size='300x600'; var aax_pubname = 'cashwalletin-21'; var aax_src='302'; </script><script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>


				 
			</div>
		</div>
	</div>
	
</div>
</div>
</div>

{% endblock %}
